<!doctype html>
<html lang="en">

<head>
    <!-- Site Title- -->
    <title>Pricing :: CommercePromote</title>

    <!-- CSS
       ==================================================== -->
    <!--Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/aml_pricing/css/font-awesome.min.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/plugins/aml_pricing/css/bootstrap.min.css">

    <!--Style CSS -->
    <link rel="stylesheet" href="~/Content/plugins/aml_pricing/css/style.css">

    <!--Responsive CSS -->
    <link rel="stylesheet" href="~/Content/plugins/aml_pricing/css/responsive.css">


</head>

<body>
    <!-- START PRELOADER AREA-->
    <div class="preloader-area">
        <!--<div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>-->
        <div class="spinner-gears"></div>
    </div>
    <!-- END PRELOADER AREA -->

    <div class="pricing-page">
        <section id="tw-pricing-1" class="tw-pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pricing-tab">
                            <div class="tab-content">
                                <div class="">
                                    <div class="row">
                                        <div class="pricing-header">
                                            <h2>
                                                AML ANNEX A & CDD
                                            </h2>
                                            <h3>
                                                Only 40/50/60 cents
                                            </h3>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="tw-pricing-box">
                                                <div class="price-icon-bg">
                                                    <div class="price-icon">
                                                        <img src="~/Content/plugins/aml_pricing/images/pricing/pricing_icon2.png" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                                <!-- End Pricing icon bg -->
                                                <div class="pricing-feaures">
                                                    <h3>RealtyPromote Client</h3>
                                                    <ul>
                                                        <li><h5>40 cents/check</h5></li>
                                                        <li><h5>150 Credits</h5></li>
                                                        <li>No Expiry Date</li>
                                                        <li>All forms stored for 10 years</li>
                                                        <li>Free Auto Submission</li>
                                                    </ul>
                                                </div>
                                                <!-- Pricing Features End -->
                                                <div class="pricing-price">
                                                    <sup>$</sup>
                                                    <strong>60</strong>
                                                </div>
                                                <!-- Pricing End
                                                <a href="" class="btn btn-dark">Register Now</a>-->

                                            </div>
                                            <!--  pricing box ends -->
                                        </div>
                                        <!-- COl end -->
                                        <div class="col-md-4">
                                            <div class="tw-pricing-box pricing-featured">
                                                <div class="price-icon-bg">
                                                    <div class="price-icon">
                                                        <img src="~/Content/plugins/aml_pricing/images/pricing/pricing_icon3.png" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                                <!-- End Pricing icon bg -->
                                                <div class="pricing-feaures">
                                                    <h3>SEAA/KEO Connect Member</h3>
                                                    <ul>
                                                        <li><h5>50 cents/check</h5></li>
                                                        <li><h5>150 Credits</h5></li>
                                                        <li>No Expiry Date</li>
                                                        <li>All forms stored for 10 years</li>
                                                        <li>Free Auto Submission</li>
                                                    </ul>
                                                </div>
                                                <!-- Pricing Features End -->
                                                <div class="pricing-price">
                                                    <sup>$</sup>
                                                    <strong>75</strong>
                                                </div>
                                                <!-- Pricing End
                                                <a href="" class="btn btn-dark">Register Now</a>-->

                                            </div>
                                            <!--  pricing box ends -->
                                        </div>
                                        <!-- COl end -->
                                        <div class="col-md-4">
                                            <div class="tw-pricing-box">
                                                <div class="price-icon-bg">
                                                    <div class="price-icon">
                                                        <img src="~/Content/plugins/aml_pricing/images/pricing/pricing_icon1.png" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                                <!-- End Pricing icon bg -->
                                                <div class="pricing-feaures">
                                                    <h3>All Other Users</h3>
                                                    <ul>
                                                        <li><h5>60 cents/check</h5></li>
                                                        <li><h5>150 Credits</h5></li>
                                                        <li>No Expiry Date</li>
                                                        <li>All forms stored for 10 years</li>
                                                        <li>Free Auto Submission</li>
                                                    </ul>
                                                </div>
                                                <!-- Pricing Features End -->
                                                <div class="pricing-price">
                                                    <sup>$</sup>
                                                    <strong>90</strong>
                                                </div>
                                                <!-- Pricing End
                                                <a href="" class="btn btn-dark">Register Now</a>-->

                                            </div>
                                            <!--  pricing box ends -->
                                        </div>
                                        <!-- COl end -->

                                        <div class="pricing-footer">
                                            <h3>
                                                To Register
                                            </h3>
                                            <span>Call at <strong>3157-9918</strong> or SMS <strong>9751-8811</strong> <i class="fa fa-angle-left"></i> Your Name, CEA Reg No, Email Address and Telephone – Package $60 or $75 or $90 <i class="fa fa-angle-right"></i></span>
                                        </div>
                                    </div>
                                    <!-- Row end -->
                                </div>
                                <!-- Tab pane end -->
                                <!-- Tab Content End -->
                            </div>
                            <!-- Row End -->
                        </div>
                        <!-- Pricing tab end -->
                    </div>
                    <!-- Content Col end -->
                </div>
                <!-- Content Row End -->
            </div>
            <!-- End Container -->
        </section>
        <!-- End Pricing -->
    </div>


    <!-- Javascripts File
       =============================================================================-->
    <!-- initialize jQuery Library -->
    <script src="~/Content/plugins/aml_pricing/js/jquery-2.0.0.min.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="~/Content/plugins/aml_pricing/js/bootstrap.min.js"></script>
    <!-- Template Custom -->
    <script src="~/Content/plugins/aml_pricing/js/main.js"></script>
</body>

</html>