<div id="content" ng-controller="SyncController" ng-init="Init()">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-table fa-fw "></i>
                Sync Sanction List
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0"
                     data-widget-colorbutton="false"
                     data-widget-editbutton="false">
                    <div>
                        <div class="widget-body">
                            <ul>
                                <li>
                                    <label>Update United Nations (UN) Sanction Lists</label>
                                    <a href="javascript:void(0);" class="btn btn-default txt-color-blueDark" ng-click="UpdateUnList()"><i class="fa fa-gear fa-lg"></i></a>
                                </li>
                                <li>
                                    <label>Update Panama Papers</label>
                                    <a href="javascript:void(0);" class="btn btn-default txt-color-blueDark" ng-click="UpdatePanamaList()"><i class="fa fa-gear fa-lg"></i></a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>